In [5]:
import numpy as np
import pandas as pd

In [11]:
practice = pd.DataFrame({"이름": ["홍길동", "김길동"], "나이" : [100, 200]})
practice

    이름   나이
0  홍길동  100
1  김길동  200

In [18]:
practice1 = pd.DataFrame({"날짜":[],"운동":[], "양":[]})
practice1

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

## loc - 행인덱스 -> 행 추가 하기

In [20]:
practice1.loc[0]=['19-3-1', '달리기', 1]
practice1

       날짜   운동    양
0  19-3-1  달리기  1.0

In [22]:
practice1.loc[1]=['19-3-2', '수영', 1]
practice1.loc[2]=['19-3-3', '달리기', 2]
practice1.loc[3]=['19-3-4', '자전거', 1]
practice1.loc[4]=['19-3-5', '숨쉬기', 1]
practice1.loc[5]=['19-3-8', '걷기', 1.5]
practice1

       날짜   운동    양
0  19-3-1  달리기  1.0
1  19-3-2   수영  1.0
2  19-3-3  달리기  2.0
3  19-3-4  자전거  1.0
4  19-3-5  숨쉬기  1.0
5  19-3-8   걷기  1.5

In [25]:
practice.to_csv('practice1.csv', encoding='utf-8')

In [27]:
practice2=pd.read_csv('practice.csv', index_col=[0], encoding='utf-8')
practice2

       날짜     운동    양
0  19-3-1    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0

## AVG 기준

In [29]:
practice2.pivot_table(index='운동')

          양
운동
걷기     1.25
계단오르기  1.00
달리기    1.00

In [31]:
practice2.pivot_table(index='운동', aggfunc=np.sum)

         양
운동
걷기     2.5
계단오르기  1.0
달리기    3.0

In [35]:
practice2.pivot_table(index='운동', aggfunc=[np.sum, np.average, len])

       sum average len
         양       양  날짜    양
운동
걷기     2.5    1.25   2  2.0
계단오르기  1.0    1.00   1  1.0
달리기    3.0    1.00   3  3.0

In [37]:
type(practice2)

pandas.core.frame.DataFrame

In [39]:
ne = pd.read_excel('reason_not_exercise.xls', index_col=[0], encoding='utf-8')
ne

,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
기간,,,,,,,
2017,서울시,서울시,49.7,8.1,5.8,34.7,1.7
2017,성별,남자,55.2,7.9,5.5,29.8,1.6
2017,성별,여자,45.0,8.3,6.0,38.8,1.8
2017,연령별,10대,55.7,6.1,5.6,32.2,0.3
2017,연령별,20대,54.8,6.9,5.2,32.9,0.1
2017,연령별,30대,58.1,5.5,4.6,31.6,0.2
2017,연령별,40대,57.7,6.8,5.2,29.4,1
2017,연령별,50대,50.1,9.2,7.2,32.2,1.4
2017,연령별,60대 이상,27.5,12.8,6.9,46.8,6
2017,학력별,중졸 이하,26.1,13.7,6.6,46.2,7.4
2017,학력별,고졸 이하,46.3,8.5,6.9,36.5,1.7
2017,학력별,대졸 이하,57.4,6.6,4.9,30.7,0.4
2017,학력별,대학원 이상,65.3,3.8,0.6,29.6,0.6
2017,소득별,100만원 미만,22.7,10.3,3.6,50.7,12.7
2017,소득별,100-200만원 미만,34.3,11.5,7.1,41.5,5.6
2017,소득별,200-300만원 미만,48.8,12.3,6.8,30.7,1.4
2017,소득별,300-400만원 미만,54.9,7.1,6.5,31.2,0.3
2017,소득별,400-500만원 미만,56.1,5,5.3,33.0,0.6
2017,소득별,500만원 이상,52.3,7.1,5.1,34.9,0.6
2017,혼인상태별,기혼,50.7,7.8,5.4,34.9,1.2
2017,혼인상태별,미혼,54.3,7.1,5.4,32.2,1
2017,혼인상태별,이혼/별거,47.4,8.3,6.8,34.9,2.7
2017,혼인상태별,사별,25.2,14.9,8.9,42.9,8
2017,지역대분류,도심권,50.5,6.9,4.5,36.4,1.7
2017,지역대분류,동북권,47.4,7.9,5.9,36.1,2.7
2017,지역대분류,서북권,49.4,13.9,7.4,28.5,0.8
2017,지역대분류,서남권,50.7,6.7,5.7,35.0,1.9
2017,지역대분류,동남권,52.2,6.9,4.9,35.4,0.6
2017,종로구,종로구,41.4,18.2,7.8,32.4,0.2
2017,중구,중구,51.0,1.2,1.9,40.5,5.5
2017,용산구,용산구,55.9,3.8,4.3,36.0,-
2017,성동구,성동구,50.5,5,6.8,37.8,-
2017,광진구,광진구,49.1,8.5,5.6,32.5,4.4
2017,동대문구,동대문구,47.2,1.7,3.4,43.6,4.2
2017,중랑구,중랑구,47.9,3.9,5.7,42.0,0.4
2017,성북구,성북구,43.4,16.1,6.1,33.4,1
2017,강북구,강북구,48.4,7.2,6.7,37.7,-
2017,도봉구,도봉구,52.0,8.6,5.1,32.0,2.3
2017,노원구,노원구,44.6,7.8,7.2,32.5,7.9
2017,은평구,은평구,44.8,17.7,7.1,29.7,0.8
2017,서대문구,서대문구,58.6,5.8,7.9,27.3,0.5
2017,마포구,마포구,47.7,15.6,7.5,28.0,1.2
2017,양천구,양천구,55.2,11.5,10.6,22.3,0.3
2017,강서구,강서구,59.0,8.3,4.0,27.1,1.6
2017,구로구,구로구,42.9,6.1,7.3,43.3,0.4
2017,금천구,금천구,42.4,7.8,3.2,46.1,0.5
2017,영등포구,영등포구,53.8,3.4,4.0,34.8,4
2017,동작구,동작구,46.0,-,1.1,47.0,5.9
2017,관악구,관악구,50.7,7.1,6.9,33.6,1.7
2017,서초구,서초구,59.8,3.4,3.2,32.0,1.5
2017,강남구,강남구,59.1,5.5,2.6,31.5,1.3
2017,송파구,송파구,42.6,7.2,5.8,44.3,0.1
2017,강동구,강동구,53.1,9.6,6.8,30.4,0.1